{% extends 'app/base.html' %}

{% block pikachuactive %}
active
{% endblock pikachuactive %}

{% block title %}
Pikachu - Home Page
{% endblock title %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Pikachu coffee organizer</h1>
        <p class="lead">xd.</p>
    </div>
    <div style="padding-left: 20%">
        <button type="button" class="btn btn-dark btn-lg">Create record</button>
    </div>
</div>
{% endblock content %}